<div class="container">


      <div class="row ">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form6Example1">NOMBRE COMPLETO</label>
            <input [(ngModel)]="nombre_user"   type="text" id="form6Example1" class="form-control" placeholder="Nombre Apellido" >

          </div>
        </div>

      </div>

      <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form6Example5">EMAIL</label>
      <input [(ngModel)]="email"  type="email" id="form6Example5" class="form-control" placeholder="example@gmail.com"/>


    </div>

    <!-- Number input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form6Example6">TELEFONO</label>
      <input [(ngModel)]="telephone"  type="number" id="form6Example6" class="form-control" placeholder="3xxxxxxxxxxx" />
    </div>


    <br>


    <!-- Message input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form6Example7">COMENTARIOS</label>
      <textarea class="form-control" id="form6Example7" rows="4"></textarea>

    </div>



    <!-- Submit button -->
    <button  class="btn btn-primary btn-block mb-4" >Continuar</button>

</div>


